.App {
  text-align: center;
}


.App-header {
  background-color: #8ab4f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.bg-card{
  background-color: #0d96b58f;
  width: 200px;
  min-width: 200px;
}
.op{
  opacity: 0.8;
}
.wth{
  width: 200px;
  min-width: 200px;
}
.line{
  flex-flow: inherit;
}

body{
  overflow-x: auto;
  min-height: 100%;
}
.columnName{
  color: #282c34;
  height: 35px;
  align-items: center;
  display: flex;
  flex: auto;
  justify-content: center;
}
.columnNameId{
  height: 24px;
  width: 180px;
  border-radius: 10px;
  background-color: #f9f9f9;
  margin-top: 4px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 4px;
  overflow: hidden;
}
.inputName_unLock{
  width: 159px;
}
.inputName_lock{
  width: 184px;
  
}
.btn-secondary {
  color: #fff;
  background-color: #2b2d33bd;
  border-color: #00000082;
}
.nameInput{
  height: 25px;
  color: #495057;
  background-color: #f9f9f9;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .75rem;
}
.nameInput:focus{
  border-color: #f9f9f9;
  outline: none;
  box-shadow: 4px 4px 7px #00000030;
}
.nameInput:hover{
    border-color: #e8e8e8;
    box-shadow: 2px 2px 5px #00000030;
}
#root {
  width: fit-content;
  min-width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-inline{
  align-items:end;
}
